<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    stopOnFailure="false"
    backupGlobals="false"
>
    <testsuites>
        <testsuite name="Vinti4NetLegacy Test Suite">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="VINTI4NET_POS_ID" value="POS123"/>
        <env name="VINTI4NET_POS_AUTH" value="ABCDEF123456789"/>
        <env
            name="VINTI4NET_ENDPOINT"
            value="https://mc.vinti4net.cv/BizMPIOnUsSisp/CardPayment"
        />
    </php>
</phpunit>